# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# next.js
/client/.next/
/client/out/

# production
/client/build

# misc
/client/.DS_Store
/client/*.pem

# debug
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# local env files
/client/.env*.local

# vercel
/client/.vercel

# typescript
/client/*.tsbuildinfo
/client/next-env.d.ts


# dependencies
/server/node_modules
/server/.pnp
/server/.pnp.js

# testing
/server/coverage

# next.js
/server/.next/
/server/out/

# production
/server/build

# misc
/server/.DS_Store
/server/*.pem

# debug
/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*

# local env files
/server/.env*.local

# vercel
/server/.vercel

# typescript
/server/*.tsbuildinfo
/server/next-env.d.ts
