.btn {
    min-width: 15rem;
    height: 2.2rem;
    font-weight: bold;
    cursor: pointer;
}

.primary {
    color: var(--secondary);
    background: var(--primary);
    border: 1px solid var(--primary);
}

.primary:hover {
    opacity: 0.7;
}
