:root {
    --primary: rgb(29, 23, 101);
    --secondary: rgb(255, 255, 255);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--secondary);
    background: var(--primary);
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}
